<header>
    <div class="logo">
        <h1><a href="/">FilmFlask</a></h1>
    </div>
    <div class="search">
        <form action="/search" method="get">
            <input type="text" name="query" id="query">
            <input type="submit" value="Search">
        </form>
    </div>
    <div class="me">
        {% if me %}
        <a href="/upload" class="upload">Upload video</a>
        <a href="/user/{{ me.handle }}" class="profile">
            <p>{{ me.nickname }}</p>
            <img class="avatar" src="/image/{{ me.avatar_id }}">
        </a>
        <form action="/logout" method="post" class="logout">
            {% include 'csrf_token.html' %}
            <input type="submit" value="Logout" class="button">
        </form>
        {% else %}
        <div></div>
        <div></div>
        <div class="login">
            <a href="/login">Log in</a>
        </div>
        {% endif %}
    </div>
</header>