<html>

<head>
    <title>Home</title>
</head>

<body>
    {% if me %}
    <h1>Welcome, <a href="/user/{{ me.handle }}">{{ me.nickname }}</a></h1>
    <form action="/logout" method="post">
        <input type="submit" value="Logout">
    </form>
    </br></br>
    <a href="/upload">Upload video</a>
    {% else %}
    <a href="/login">Log in</a>
    {% endif %}
    <hr>


    <form action="/search" method="get">
        <input type="text" name="query" id="query"> </br>
        <input type="submit" value="Search">
    </form>
    {% for video in videos %}
    <div>
        <img src="/image/{{ video.thumbnail_id }}" width=100>
        <p><b><a href="/watch/{{ video.video_id }}">{{ video.title }}</a></b></p>
        <p>Views: {{ video.download_counter }}</p>
        <p>By <a href="/user/{{ video.uploader.handle }}">{{ video.uploader.nickname }} (@{{ video.uploader.handle
                }})</a></p>
        <img src="/image/{{ video.uploader.avatar_id }}" width=60>
        <p>{{ video.upload_time }}</p>
    </div>
    <hr>
    {% endfor %}
</body>

</html>