<html>

<head>
    <title>Register</title>
    <style>
        label[for="username"]::after {
            content: '@'
        }
    </style>
</head>

<body>
    <form action="" method="post">
        <label for="username">Handle: </label>
        <input type="text" name="username" id="username"> </br>
        <label for="nickname">What do you want us to call you? </label>
        <input type="text" name="nickname" id="nickname"></br>
        <label for="password">Password: </label>
        <input type="password" name="password" id="password"></br>
        <label for="password2">Re-type password: </label>
        <input type="password" name="password2" id="password2"></br>
        <input type="submit" value="Register">
    </form>
</body>

</html>