<html>

<head>
    <title>Upload video</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/main.css') }}">
    <script src="{{ url_for('static',filename='js/fileupload.js') }}"></script>
    <script src="{{ url_for('static',filename='js/upload.js') }}"></script>
</head>

<body onload="onload()">
    {% include 'components/header.html' %}
    <div class="content">
        {% include 'components/error.html' %}
        <h1>Upload video</h1>
        <form action="/upload" method="post" enctype="multipart/form-data" class="form">
            {% include 'components/csrf_token.html' %}
            <div class="field">
                <label for="title">Video title: </label>
                <input class="font-big" type="text" name="title" id="title" required
                    minlength="{{ config.VIDEO_TITLE_MIN_LENGTH }}" maxlength="{{ config.VIDEO_TITLE_MAX_LENGTH }}"
                    placeholder="{{ config.VIDEO_TITLE_MIN_LENGTH }} - {{ config.VIDEO_TITLE_MAX_LENGTH }} characters"></br>
            </div>
            <div class="field">
                <label for="description">Description: </label>
                <textarea name="description" id="description" maxlength="{{ config.VIDEO_DESC_MAX_LENGTH}}"
                    placeholder="Up to {{ config.VIDEO_DESC_MAX_LENGTH}} characters"></textarea></br>
            </div>
            <div class="field">
                <label for="video" class="button">Select video</label>
                <div>
                    <p id="video-name">No video selected</p>
                    <p id="video-description"></p>
                </div>
            </div>
            <input type="file" name="video" id="video" accept="video/mp4, video/webm" hidden></br>
            <div class="field size-1">
                <input id="upload" type="submit" value="Upload" class="button">
            </div>
        </form>
    </div>
    {% include 'components/footer.html' %}
</body>

</html>