<html>

<head>
    <title>{{ user.nickname }}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/main.css') }}">
</head>

<body>
    {% include 'header.html' %}
    <div class="content">
        <div class="user">
            <div class="user-details">
                <img src="/image/{{ user.avatar_id }}" class="avatar">
                <span class="nickname">
                    {{ user.nickname }}
                </span>
            </div>
            <p>{{ user.bio }}</p>
            <p>Subscribers: {{ user.get_subscribers()|length }}</p>
            {% if me %}
            {% if me.user_id == user.user_id %}
            <a href="/user/edit">Edit user info</a>
            {% else %}
            {% if not me.check_subscription(user.user_id) %}
            <form action="/subscribe/{{ user.handle }}" method="post">
                {% include 'csrf_token.html' %}
                <input type="submit" value="Subscribe" class="button">
            </form>
            {% else %}
            <form action="/unsubscribe/{{ user.handle }}" method="post">
                {% include 'csrf_token.html' %}
                <input type="submit" value="Unsubscribe" class="button">
            </form>
            {% endif %}
            {% endif %}
            {% endif %}
        </div>
        </br></br>

        <div class="video-list">
            {% for video in videos %}
            {% include 'video.html' %}
            {% endfor %}
        </div>
    </div>
</body>

</html>