<html>

<head>
    <title>Edit user info</title>
</head>

<body>
    <h1>Edit user info for @{{ user.handle }}</h1>
    <form action="/user/edit" method="post" enctype="multipart/form-data">
        <label for="nickname">Update nickname: </label>
        <input type="text" name="nickname" id="nickname" value="{{ user.nickname }}" placeholder="{{ user.nickname }}"
            minlength="{{ config.NICKNAME_MIN_LENGTH }}" maxlength="{{ config.NICKNAME_MAX_LENGTH }}"></br></br>
        <label for="bio">Update bio: </label></br>
        <textarea name="bio" id="bio" maxlength="{{ config.BIO_MAX_LENGTH }}">{{ user.bio }}</textarea></br></br>
        <input type="submit" value="Update">
    </form>

    {% if user.avatar_id %}
    <p><img src="/image/{{ user.avatar_id }}" width=250></p>
    {% else %}
    <p>No avatar set.</p>
    {% endif %}
    <form action="/image" method="post" enctype="multipart/form-data">
        <label for="avatar">Upload new avatar: </label>
        <input type="file" name="avatar" id="avatar" accept="image/png, image/jpeg"></br>
        <input type="submit" value="Upload">
    </form>

    <p><a href="/">Back to homepage</a></p>
</body>

</html>