<html>

<head>
    <title>{{ video.title }}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/main.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fork-awesome@1.2.0/css/fork-awesome.min.css"
        integrity="sha256-XoaMnoYC5TH6/+ihMEnospgm0J1PM/nioxbOUdnM8HY=" crossorigin="anonymous">
</head>

<body>
    {% include 'components/header.html' %}
    <div class="content">
        <video autoplay="true" src="/video/{{ video.video_id }}" controls=true height="480"></video>
        <h1>{{ video.title }}</h1>
        <div class="video-details">
            <div>
                <span class="views">{{ video.download_counter }} views</span> <span class="timestamp">{{
                    video.upload_time
                    }}</span>
            </div>
            {% set ratings = video.get_ratings() %}
            <div class="ratings">
                <span><button class="icon-button" disabled="{{me == None}}"><i
                            class="fa fa-thumbs-o-up fa-lg"></i></button> {{ ratings[1]
                    }}</span>
                <span><button class="icon-button" disabled="{{me == None}}"><i
                            class="fa fa-thumbs-o-down fa-lg"></i></button> {{ ratings[0]
                    }}</span>
            </div>
        </div>


        <div class="user-tag">
            <a href="/user/{{ video.uploader.handle }}">
                {% set user = video.uploader %}
                {% include 'components/user-detail.html' %}
            </a>
        </div>

        <p class="video-description">{{ video.description }}</p>

        <div class="comment-section">
            {% if me %}
            <span style="display: inline">Commenting as</span>
            <div class="uploader">
                {% set user = me %}
                {% include 'components/user-detail.html' %}
            </div>
            <form action="/comment" method="post" class="form comment-form">
                {% include 'components/csrf_token.html' %}
                <input type="hidden" name="comment_video_id" id="comment_video_id" value="{{ video.video_id }}">
                <div class="field size-1">
                    <textarea name="content" id="content" minlength="1" maxlength="{{ config.COMMENT_MAX_LENGTH }}"
                        required></textarea> </br>
                </div>
                <input type="submit" value="Comment" class="button">
            </form>
            {% else %}
            <p>You must be <a href="/login">logged in</a> to post a comment!</p>
            {% endif %}
            {% for comment in video.get_comments() %}
            <div class="comment">
                <div class="user-tag">
                    <a href="/user/{{ comment.user.handle }}">
                        <div class="uploader">
                            {% set user = comment.user %}
                            {% include 'components/user-detail.html' %}
                        </div>
                    </a>
                </div>
                <p class="comment-content">{{ comment.content }}</p>
                <p class="timestamp">{{ comment.timestamp }}</p>
                {% if me.user_id == comment.user.user_id %}
                <div class="delete-button">
                    <button class="icon-button" disabled="false"><i class="fa fa-trash-o fa-lg"></i></button>
                </div>
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </div>
    {% include 'components/footer.html' %}

</body>

</html>