<html>

<head>
    <title>{{ video.title }}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/main.css') }}">
</head>

<body>
    {% include 'components/header.html' %}
    <div class="content">
        <video autoplay="true" src="/video/{{ video.video_id }}" controls=true height="480"></video>
        <h1>{{ video.title }}</h1>
        <div class="video-details">
            <p class="views">{{ video.download_counter }} views</p>
            <p class="ratings">Likes/Dislikes: {{ video.get_ratings() }}</p>
        </div>
        <p class="timestamp">{{ video.upload_time }}</p>

        <div class="user-tag">
            <a href="/user/{{ video.uploader.handle }}">
                {% set user = video.uploader %}
                {% include 'components/user-detail.html' %}
            </a>
        </div>

        <p class="video-description">{{ video.description }}</p>
        {% if me %}
        <div class="rating-buttons">
            <form action="/rate/thumbsup" method="post">
                {% include 'components/csrf_token.html' %}
                <input type="hidden" name="video_id" value="{{ video.video_id }}">
                <input type="submit" value="Thumbs up" class="button">
            </form>
            <form action="/rate/thumbsdown" method="post">
                {% include 'components/csrf_token.html' %}
                <input type="hidden" name="video_id" value="{{ video.video_id }}">
                <input type="submit" value="Thumbs down" class="button">
            </form>
            {% set rating = me.get_rating(video.video_id) %}
            {% if rating %}
            {% set rating_text = "liked" if rating == 1 else "disliked" %}
            <form action="/rate/delete" method="post">
                {% include 'components/csrf_token.html' %}
                <input type="hidden" name="video_id" value="{{ video.video_id }}">
                <input type="submit" value="Delete rating" class="button">
            </form>
            {% endif %}
        </div>

        {% endif %}

        <div class="comment-section">
            {% if me %}
            <span style="display: inline">Commenting as</span>
            <div class="uploader">
                {% set user = me %}
                {% include 'components/user-detail.html' %}
            </div>
            <form action="/comment" method="post" class="form comment-form">
                {% include 'components/csrf_token.html' %}
                <input type="hidden" name="comment_video_id" id="comment_video_id" value="{{ video.video_id }}">
                <div class="field size-1">
                    <textarea name="content" id="content" minlength="1" maxlength="{{ config.COMMENT_MAX_LENGTH }}"
                        required></textarea> </br>
                </div>
                <input type="submit" value="Comment" class="button">
            </form>
            {% else %}
            <p>You must be <a href="/login">logged in</a> to post a comment!</p>
            {% endif %}
            {% for comment in video.get_comments() %}
            <div class="comment">
                <div class="user-tag">
                    <a href="/user/{{ comment.user.handle }}">
                        <div class="uploader">
                            {% set user = comment.user %}
                            {% include 'components/user-detail.html' %}
                        </div>
                    </a>
                </div>
                <p class="comment-content">{{ comment.content }}</p>
                <p class="timestamp">{{ comment.timestamp }}</p>
                {% if me.user_id == comment.user.user_id %}

                <form action="/comment/delete" method="post">
                    {% include 'components/csrf_token.html' %}
                    <input type="hidden" name="comment_id" value="{{ comment.comment_id }}">
                    <input type="submit" value="Delete comment" class="button">
                </form>
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </div>
    {% include 'components/footer.html' %}

</body>

</html>