<div class="video">
    <a href="/watch/{{ video.video_id }}">
        <img class="thumbnail" src="/image/{{ video.thumbnail_id }}" width=100>
        <p class="title">{{ video.title }}</p>
    </a>

    <a href="/user/{{ video.uploader.handle }}">
        <div class="uploader">
            {% set user = video.uploader %}
            {% include 'components/user-detail.html' %}
        </div>
    </a>
    <p>{{ video.download_counter }} views</p>
    <p class="timestamp">{{ video.upload_time }}</p>
</div>