* {
    margin: 0;
    padding: 0;
}

:root {
    --main-bg: #222;
    --main-bg-darker: #171717;
    --main-text: white;
    --accent-color: #f74716;
    --accent-color-hover: #d02000;
    --accent-color-active: #c01000;
    
    accent-color: var(--accent-color);

    height: 100%;
    width: 100%;
    font-family: sans-serif;
    background-color: #222;
    color: white;
    
}

a {
    text-decoration: none;
    color:var(--accent-color);
}

header {
    position: fixed;
    width: 100%;
    background-color: #111;
    border-bottom: 5px solid #111;
    padding: 0.5rem;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

header .me {
    text-align: right;
    padding-right: 3rem;
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-content: center;
}

header .me .upload {
    margin: auto;
    margin-left: 1rem;
}

header .me .profile {
    margin: auto;
    margin-right: 1rem;
    display: grid;
    grid-template-columns: 1fr auto;
    font-size: 1.5rem;
}

header .me .profile > img {
    margin-left: 1rem;
}

header .me .profile > * {
    margin: auto;
}

header .me .avatar {
    height: 2rem;
}

header .me .logout {
    height: 100%;
}

header .me .logout input {
    height: 100%;
}

.button {
    padding: 0.5rem;
    background-color: var(--accent-color);
    color: white;
    border: none;
    outline: none;
}

.button:hover {
    background-color: var(--accent-color-hover);
}

.button:focus {
    text-decoration: none !important;
    border: none !important;
    outline: 2px solid white;
}

header .search {
    text-align: center;
}

header .search form {
    display: grid;
    grid-template-columns: 4fr 1fr;
    width: 100%;
    height: 100%;
}

header .search input {
    height: 100%;
}

.content {
    padding: 0.5em;
    padding-top: 4rem;
    width: 70%;
    margin: auto;
}

.content .video-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

 .video {
    padding: 0.5rem;
}

 .video > a {
    width: 100%;
}

 .video .thumbnail {
    width: 100%;
}

.video .title {
    font-size: 1.5rem;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.uploader {
    margin: 0.5rem;
    height: 2rem;
}

.user {
    margin: 1rem;
}

.user .user-details .nickname {
    font-size: 2rem;
}

.user-details {
    display: grid;
    grid-template-columns: 2rem auto;
    height: 100%;
}

.user .user-details {
    grid-template-columns: 5rem auto;
    height: 5rem;
}

.user > p {
    margin: 1em;
}

.user-details .nickname {
    font-size: 0.8rem;
    margin: auto;
    margin-left: 0.5rem;
}

.avatar {
    border-radius: 50%;
}

.video-details {
    display:grid;
    grid-template-columns: 1fr 1fr;
    width: 854px;
}

.video-details .ratings {
    text-align: right;
}

.rating-buttons {
    display: grid;
    grid-template-columns: auto auto auto;
    width: 20rem;
}

.comment-section {
    padding: 0.5em;
}

.comment-section textarea {
    width: 50%;
}

.comment {
    padding: 0.5em;
    margin: 0.5em;
    border-radius: 0.5rem;
    background-color: var(--main-bg-darker);
}

.comment > p {
    margin: 0.5rem;
}

.video-description {
    margin: 1rem;
}

.timestamp {
    font-size: 0.7em;
    font-style: italic;
}

label[for="username"]::after {
    content: '@'
}