@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --main-bg: #222;
    --main-bg-darker: #171717;
    --main-text: white;
    --accent-color: #f74716;
    --accent-color-hover: #d02000;
    --accent-color-active: #c01000;
    --warning-color: #cc0a00;
    --warning-color-hover: #9e1a13;
    --warning-color-active: #7a1b16;
    --content-width: 70%;

    accent-color: var(--accent-color);

    width: 100%;
    height: 100%;
    font-family: 'Arimo';
    background-color: #222;
    color: white;
}



@media (max-width: 900px) {
    :root {
        --content-width: 95% !important;
    }

    header {
        grid-template-columns: 1fr !important;
        text-align: center;
    }

    header .search,
    header .me {
        display: none !important;
    }
}

video {
    width: calc(min(1000px, 100%));
    padding-bottom: 0.5rem;
}


body {
    min-height: 100%;
    position: relative;
}

a {
    text-decoration: none;
    color: var(--accent-color);
}

header {
    position: fixed;
    width: 100%;
    background-color: #111;
    border-bottom: 5px solid #111;
    padding: 0.5rem;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #111;
    border-top: 5px solid #111;
    text-align: center;
    font-size: 1.3rem;
    height: 3rem;
    display: grid;
}

footer div {
    margin: auto;
}

header .me {
    text-align: right;
    padding-right: 3rem;
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-content: center;
}

header .me .upload {
    margin: auto;
    margin-left: 1rem;
}

header .me .profile {
    margin: auto;
    margin-right: 1rem;
    display: grid;
    grid-template-columns: 1fr auto;
    font-size: 1.5rem;
}

header .me .profile>img {
    margin-left: 1rem;
}

header .me .profile>* {
    margin: auto;
}

header .me .avatar {
    height: 2rem;
}

header .me .logout {
    height: 100%;
}

header .me .logout input {
    height: 100%;
}

.button {
    padding: 0.5rem;
    background-color: var(--accent-color);
    color: white;
    border: none;
    outline: none;
}

.button:hover {
    background-color: var(--accent-color-hover);
}

.button:focus {
    text-decoration: none !important;
    border: none !important;
    outline: 2px solid white;
}

header .search {
    text-align: center;
}

header .search form {
    display: grid;
    grid-template-columns: 4fr 1fr;
    width: 100%;
    height: 100%;
}

header .search input {
    height: 100%;
}

.content {
    padding: 0.5em;
    padding-top: 4rem;
    width: var(--content-width);
    margin: auto;
    padding-bottom: 5rem;
}

.content .video-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
}

.video {
    padding: 0.5rem;
}

.video>a {
    width: 100%;
}

.video .thumbnail {
    width: 100%;
}

.video .title {
    font-size: 1.5rem;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.user-tag {
    font-size: 1rem;
    width: fit-content;
}

.user {
    margin: 1rem;
}

.user .user-details {
    font-size: 2.5em;
}

.user>p {
    margin: 1em;
}

.user-details {
    display: grid;
    grid-template-columns: 2em auto;
    height: 100%;
    height: 2em;
    margin: 0.5em;
}

.user-details .name {
    margin: auto;
    margin-left: 0.5rem;
}

.user-details .name .nickname {
    font-size: 0.8em;
}

.user-details .name .handle {
    font-size: 0.6em;
}

.avatar {
    border-radius: 50%;
}

.video-details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: calc(min(1000px, 100%));
}

.video-details .ratings {
    text-align: right;
}

button.icon-button {
    padding: 0.3rem;
    background: none;
    color: var(--accent-color);
    border: none;
    outline: none;
}

button.icon-button:not([disabled]):hover {
    color: var(--accent-color-hover);
}


button.icon-button:not([disabled]):active {
    color: var(--accent-color-active);
}

.rating-buttons {
    display: grid;
    grid-template-columns: auto auto auto;
    width: 20rem;
}

.comment-section {
    padding: 0.5em;
}

.comment-section textarea {
    width: 50%;
}

.comment {
    position: relative;
    padding: 0.5em;
    margin: 0.5em;
    border-radius: 0.5rem;
    background-color: var(--main-bg-darker);
}

.comment .delete-button {
    position: absolute;
    top: 0.5em;
    right: 0.5em;
}

.comment>p {
    margin: 0.5rem;
}

.video-description {
    margin: 1rem;
    width: calc(min(1000px, 100%) - 1rem);
}

.title {
    font-size: 2rem;
}

.modal {
    position: fixed;
    margin: auto;
    padding: 1rem;
    text-align: center;
    background-color: var(--main-bg);
    color: var(--main-text)
}

.button.warning {
    background-color: var(--warning-color);
}

.button.warning:hover {
    background-color: var(--warning-color-hover);
}

.button.warning:active {
    background-color: var(--warning-color-active);
}

.timestamp {
    font-size: 0.7em;
    font-style: italic;
}

.form {
    max-width: 30em;
    min-width: 20rem;
}

.form.small {
    max-width: 20rem;
    min-width: 10rem;
}

.form.small .field {
    grid-template-columns: minmax(30%, 4em) auto;
}

.form .field {
    display: grid;
    grid-template-columns: minmax(30%, 10em) auto;
    grid-gap: 0.5em;
}

.form .field.size-1 {
    width: 100%;
    display: grid;
    grid-template-columns: auto;
}

.form .field .font-big {
    font-size: 1.5rem;
}

.form input[type="text"],
input[type="password"],
.form textarea {
    width: 100%;
}

.form textarea {
    height: 5em;
}

.form .field input,
.form .field textarea {
    font-size: 1rem;
    font-family: sans-serif;
    resize: none;
}

.form .field label {
    margin: auto;
}

.form .field input[type="submit"] {
    margin: auto;
    padding-left: 2em;
    padding-right: 2em;
}

.form .field #video-description {
    margin: auto;
}

.form .button {
    margin: 1rem;
}

.form.comment-form input[type="submit"] {
    margin: 0;
}

.error-message {
    background: var(--warning-color);
    padding: 0.5em;
    border-radius: 1em;
    margin: 0.5em;
    padding-left: 2em;
    padding-right: 2em;
    font-weight: bold;
    text-align: center;
}